:host {
  display: block;
  width: 100%;
}

#preview,
#content {
  position: relative;
  cursor: pointer;
}

#preview {
  padding: 0 24px;
}

/* count, fs, and bg */
#count {
  position: absolute;
}

#count {
  bottom: 6px;
  right: 6px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  font-size: 14px;
  padding: 4px 6px;
}

#bg {
  background: rgba(255, 255, 255, 0.9);
  display: none;
  height: 100%;
  width: 100%;

  #cross {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 32px;
    height: 32px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 32px;
  }
}

/* Arrows css */
.arrow {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
}

.arrow > * {
  position: absolute;
  width: 8px;
  height: 8px;
  margin: -6px 5px;
  top: 50%;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow.l {
  left: 0;
  cursor: w-resize;
}

.arrow.l > * {
  left: 0;
  transform: rotate(135deg);
}

.arrow.r {
  right: 0;
  cursor: e-resize;
}

.arrow.r > * {
  right: 0;
  transform: rotate(-45deg);
}

/* drop shadow */
.arrow > *,
#cross {
  filter: drop-shadow(-1px -1px 3px #000);
  user-select: none;
  color: white;
  z-index: 3;
  cursor: pointer;
}

/* slot elements css */
slot[name='preview']::slotted(*) {
  height: 64px;
  opacity: 0.5;
}

slot[name='preview']::slotted(*.active) {
  border: 1px solid white;
  box-sizing: border-box;
  opacity: 1;
}

sifrr-tab-header {
  height: 64px;
}

/* Full screen css */
:host(.fullscreen) {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;

  #bg {
    display: block;
    z-index: 1;
  }

  #preview,
  #content {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  #preview {
    bottom: 30px;
    max-width: 90%;
    z-index: 2;
  }

  #content {
    z-index: 2;
    max-width: 90%;
    max-height: calc(100% - 150px);
    top: calc(50% - 55px);
    transform: translateY(-50%);
    overflow: hidden;
  }
}
