:host {
  background: linear-gradient(to right, "${this.colora(0.15)}" 4%, "${this.colora(0)}" 25%, "${this.colora(0.15)}" 36%);
  display: inline-block;
  animation: shimmer 2.5s linear 0s infinite;
  background-size: 2000px 100%;
}
@keyframes shimmer{
  0% { background-position: -2000px 0 }
  100% { background-position: 2000px 0 }
}
