:host {
  /* CSS for tabs container */
  display: block;
  line-height: 24px;
  width: 100%;
  position: relative;
  overflow-x: auto;
  box-sizing: border-box;
}

slot {
  display: block;
}

slot::slotted(*) {
  float: left;
  text-align: center;
  padding: 8px;
  opacity: 0.8;
  cursor: pointer;
}

slot::slotted(*.active) {
  opacity: 1;
}

slot::slotted(*:hover) {
  opacity: 1;
}

/* CSS for line under active tab heading */
.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background: white;
}
