:host {
  /* CSS for tabs container */
  display: block;
  width: 100%;
  position: relative;
  overflow-x: auto;
  box-sizing: border-box;
  padding-bottom: 3px;
}

slot {
  display: block;
  min-width: 100%;
}

slot::slotted(*) {
  float: left;
  text-align: center;
  vertical-align: middle;
  opacity: 0.7;
  cursor: pointer;
}

slot::slotted(*.active) {
  opacity: 1;
}

slot::slotted(*:hover) {
  opacity: 0.9;
}

/* CSS for line under active tab heading */
.underline {
  position: absolute;
  bottom: 0;
  height: 3px;
  background: white;
}
